<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="public/styles/index.css">
    
    <title>Chat App</title>
  </head>
  <body>
    <%- include('nav.html') %>
    
    <div class="card text-center container" style="width: auto; margin-top: 7rem;">
      <div class="card-body">
        <h5 class="card-title">이름을 입력해 주세요</h5>
          <input type='text' id='nameInput' class="form-control mb-3" required='required'>
          <a class='btn btn-primary' id='chatBtn'>채팅참여</a>
      </div>
    </div>


    
    <script>
      // nameSetting
      document.getElementById('chatBtn').onclick = function(){
        var name = document.getElementById('nameInput').value;
        if(name == ''){
          alert('이름을 입력해주세요')
        } else{
          localStorage.name = name;
          window.open("/openchat", "PopupWin" ,"toolbar=no, scrollbars=no, width=500,height=600, location=no");
        }
      }
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>